{% extends 'main/base.html' %}
{% block contents %}

  <!--================Home Banner Area : 아래부분은 수정한 부분입니다=================-->
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="banner_content text-center">
              <h2>Q&A</h2>
              <div class="page_link">
                <p>질문게시판</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Contact Area : 아래부분은 수정한 부분입니다=================-->
  <section class="contact_area section_gap" style="padding: 5% 0;">
    <div class="container">
      <div class="row">
        <table class="table" style="text-align: center;">
          <thead>
            <tr>
              <th scope="col-md-1">글번호</th>
              <th scope="col-md-4">제목</th>
              <th scope="col-md-2">작성일</th>
              <th scope="col-md-1">작성자</th>
            </tr>
          </thead>
          <tbody>
           {% for qna in object_list %}
            <tr>

              <th scope="row" >{{forloop.counter}}</th>
              <td><a href="{% url 'qna:detail' pk=qna.id %}">{{qna.q_title}}</a></td>
              <td>{{qna.q_date}}</td>
              <td>{{qna.member}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>


      <nav class="blog-pagination justify-content-center d-flex" style="padding: 2.5% 0 ;">
        <ul class="pagination">
		{% if page_obj.has_previous %}
		<a href="?page={{page_obj.previous_page_number}}">Previous</a>
		{% endif %}
		Page {{page_obj.number}} / {{page_obj.paginator.num_pages}}
		{% if page_obj.has_next %}
		<a href="?page={{page_obj.next_page_number}}">Next</a>
		{% endif %}
        </ul>
      </nav>
      <div class="col-md-12 text-right">
        {% if error %}
    <p style="color:red;">{{error}}</p>
    {%endif%}
        <button type="submit" value="submit" class="btn primary-btn"><a href="{% url 'qna:new' %}">글쓰기</a>
        </button>
      </div>
      </form>
    </div>
    </div>
    </div>
  </section>

  <!--================Contact Area =================-->

  <!--================ start footer Area  =================-->

  <!--================ End footer Area  =================-->

  <!--================Contact Success and Error message Area =================-->
  <div id="success" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="ti-close"></i>
          </button>
          <h2>Thank you</h2>
          <p>Your message is successfully sent...</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals error -->

  <div id="error" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="ti-close"></i>
          </button>
          <h2>Sorry !</h2>
          <p>Something went wrong</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
