{% extends 'main/base.html' %}
{% load static %}
{% block contents %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>MyPage</h2>
                <div class="page_link">
                  <a href="{% url 'main:index' %}">Home</a>
                  <a href="#">Mypage</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap_little">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget post_category_widget">

                          <ul class="nav nav-tabs list cat-list" style="display: block;">
                              <li>
                                  <a data-toggle="tab" href="#my-info" class="d-flex justify-content-between active">
                                      <h4>비밀번호 변경</h4>
                                  </a>
                              </li>
                          </ul>
                      </aside>

                    </div>
                </div>
                <div class="col-lg-9 posts-list">
                    <div class="single-post row">

                            <div class="tab-content quotes" style="width: 100%;">
                                <div id="my-info" class="tab-pane fade in active show">
                                  <h2>비밀번호 변경</h2>
                                  <hr>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <form method="POST" action="{% url 'main:change_password' %}" class="login_form">
													{% csrf_token %}

													<div class="login_input_container">
														<div class="username_form_text">Origin Password</div>
														<div class="input_container">
															<input class="login_input" name="origin_password" type="password">
														</div>

														<div class="password_form_text"> New Password</div>
														<div class="input_container">
															<input class="login_input" name="password1" type="password">
														</div>
														<div class="confirm_password_form_text">Confirm Password</div>
														<div class="input_container">
															<input class="login_input" name="password2" type="password">
														</div>
													</div>
													<div class="login_btn_container">
														<input type="submit" class="login_btn" value="Submit">
													</div>
											</div>
											</form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
 {% endblock contents %}