{% extends 'main/base.html' %}
{% block contents %}
{% load static %}


    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner_content text-center">

                <h2 class="text-uppercase mt-4 mb-5">
                 얼굴인식보안
                </h2>
                <h2 class="text-uppercase mt-4 mb-5">
                 스토리지를 사용하세요
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--============== End Home Banner Area =================-->


    <!--================ Start Trainers Area =================-->
    <section class="trainer_area section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">FACE LOCK 개발진</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
            <img class="img-fluid" src="{% static 'img/trainer/t1.jpg' %}" alt="" />
            </div>
            <div class="meta-text text-sm-center">

              <h4>최재준</h4>
              <p class="designation">얼굴인식 모듈 개발</p>
              <div class="mb-4">
                <p>
                 1570023 최재준
                </p>
              </div>
              <div class="align-items-center justify-content-center d-flex">
                <a href="https://www.facebook.com/profile.php?id=100008426118102" target="_blank"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="{% static 'img/trainer/t1.jpg' %}" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>정현봉</h4>
              <p class="designation">웹 개발</p>
              <div class="mb-4">
                <p>
                  1570021 정현봉
                </p>
              </div>
              <div class="align-items-center justify-content-center d-flex">
                <a href="https://www.facebook.com/profile.php?id=100003474864693&ref=bookmarks" target="_blank"><i class="ti-facebook"></i></a>
                <a href="https://www.instagram.com/_heeb_x/?hl=ko" target="_blank"><i class="ti-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="{% static 'img/trainer/t1.jpg' %}" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>정영오</h4>
              <p class="designation">발표자료</p>
              <div class="mb-4">
                <p>
                 1726049 정영오
                </p>
              </div>
              <div class="align-items-center justify-content-center d-flex">
                <a href="https://www.facebook.com/profile.php?id=100010238704099" target="_blank"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-instagram" ></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!--================ End Trainers Area =================-->
{% endblock contents %}


